body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* TweetPreview */
.tweet-preview {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.horizontal-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.input-form:focus,
.textarea-field:focus {
  border-color: #3498db;
  outline: none;
}

.submit-button {
  background-color: #1da1f2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.5;
}

/*tweet-container*/
.tweet-container {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
}

.tweet {
  padding: 10px;
  border-bottom: 1px solid #e1e8ed;
}

.tweet:last-child {
  border-bottom: none;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tweet-user {
  font-weight: bold;
  color: #1da1f2;
}

.tweet-date {
  color: #657786;
}

.tweet-content p {
  margin: 0;
  font-size: 14px;
  color: #14171a;
}

.tweet-stats {
  display: flex;
  justify-content: space-between;
  color: #657786;
  font-size: 12px;
  margin-top: 10px;
}

.simple .tweet-content p,
.simple .tweet-stats {
  font-size: 16px;
}

.detailed .tweet-header .tweet-date {
  font-size: 12px;
}